.Ball {
  position: absolute;
  border-radius: 100%;
  width: 140vw;
  height: 140vh;
  opacity: 0.2;
  box-shadow: 0 0 0 transparent;
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  filter: blur(1746px);
  z-index: 2;
}

.Back {
  width: 100vw;
  background-color: #111;
  min-height: 100vh;
  z-index: 1;
}
