.pagination {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.arrow__right {
    transform: rotate(-180deg);
    margin-left: 14px;
}
.pagination__pages {
    display: flex;
    align-items: center;
}
.pagination__item {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 11px 17px 12px 16px;

}
.pagination__itemActive {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 11px 17px 12px 16px;
    background: #C20046;
    border-radius: 50%;
}
.arrow__left {
    margin-right: 14px;
}