@font-face {
  font-family: "PressStart";
  src: local("PressStart"),
    url("./../fonts/Press_Start_2P/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "PT Mono";
  src: local("PT Mono"),
    url("./../fonts/PT_Mono/PTMono-Regular.ttf") format("truetype");
  font-weight: normal;
}
