@font-face {
  font-family: "PressStart";
  src: local("PressStart"),
    url("./fonts/Press_Start_2P/PressStart2P-Regular.ttf") format("truetype");
  font-weight: bold;
}

.App {
  text-align: center;
  font-family: "PressStart";
}
